

#divImg{
    width: 10%;
}



#nav{
    background-color: rgba(255, 255, 255, 0.644);

    width: 100%;
}

#container-navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
}
#divImg img{
    height: 7vh;
    
}
#divNombre{
    width: 80%;
    align-items: center;
   
    
}


#divBoton{
  
    width: 10%;
}